* {
  font-family: "Lato", sans-serif;
}
/* Overide the existing boosrap feature  */
.btn-primary:hover {
  background-color: #fe8402;
  border: none;
}
.card-body:hover {
  padding: 1.5rem;
  background-color: #fe8402;
  border-radius: 10px;
}
.row:hover {
  background-color: aliceblue;
}
